.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card div {
    text-transform: uppercase;
    font-size: 12px;
}

.card {
    flex: 1 1 150px;
    max-width: 150px;
    padding-bottom: 2rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}