* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  --dc-primary-dark: #1C1C1C;
  --dc-secondary: #0282F9;
  --dc-primary-light: #303030;
  --dc-primary-lighter: #797979;
  --dc-primary-extralight: #FFFFFF;
}

header {
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;

    a {
      color: var(--mol-black);
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      font-size: small;
      font-weight: 600;

      .active {
        color: var(--dc-secondary);
      }
    }
  }
}

main {
  .cardSection {
    background-color: var(--dc-primary-dark);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .buySection {
    background-color: var(--dc-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;

    .icon {
      display: flex;
      align-items: center;

      img {
        max-width: 2rem;
        margin-right: 0.5rem;
      }

      #iconName {
        color: var(--dc-primary-extralight);
        font-weight: 300;
        font-size: 12px;
      }
    }


  }
}

footer {


  .topSection {
    background-image: url('/images/footer-bg.jpg');
  }
}