* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  --dc-primary-dark: #1C1C1C;
  --dc-secondary: #0282F9;
  --dc-primary-light: #303030;
  --dc-primary-lighter: #797979;
  --dc-primary-extralight: #FFFFFF;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem
}

.flex-container {
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

header {

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;

    #logo {
      width: 7rem;
      padding: 1rem;
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: center;

      a {
        color: var(--dc-primary-dark);
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        font-size: small;
        font-weight: 700;

        &.active {
          color: var(--dc-secondary);
          border-bottom: solid 5px;
          padding: 2.7rem;
        }
      }
    }
  }


}

main {
  position: relative;

  .jumbotron {
    background-image: url('../public/images/jumbotron.jpg');
    background-size: cover;
    height: 300px;
  }

  .mainTitle {
    background-color: var(--dc-secondary);
    color: var(--dc-primary-extralight);
    font-weight: 700;
    padding: 0.5rem;
    position: absolute;
    top: 28.5%;

  }

  .cardSection {
    background-color: var(--dc-primary-dark);
    color: var(--dc-primary-extralight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;

    .btn {
      background-color: var(--dc-secondary);
      padding: 0.5rem 2rem;
      border: none;
      margin-bottom: 2rem;
      font-size: 10px;
      color: var(--dc-primary-extralight);
    }
  }

  .cards {
    background-color: var(--dc-primary-dark);
    color: var(--dc-primary-extralight);
    display: flex;
    justify-content: center;
    align-items: center;

    .flex-container {
      display: flex;
      justify-content: center;
    }
  }

  .buySection {
    background-color: var(--dc-secondary);
    position: relative;
    z-index: 10;


    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }


    .icon {
      display: flex;
      align-items: center;

      img {
        max-width: 2rem;
        margin-right: 0.5rem;
      }

      #iconName {
        color: var(--dc-primary-extralight);
        font-weight: 300;
        font-size: 12px;
      }
    }


  }
}

footer {

  .topSection {
    background-image: url('/images/footer-bg.jpg');
    background-position: bottom;


    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;
      padding-top: 2rem;

      .left {
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: row;
        gap: 2rem;

        h3 {
          color: var(--dc-primary-extralight);
          margin-top: 1rem;
        }

        .list-unstyled {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--dc-primary-lighter);
            font-size: 12px;
          }
        }
      }

      #logoBg {
        width: 30rem;

        z-index: -1;
        margin-top: -80px;
        margin-bottom: -150px;
      }
    }
  }

  .bottomSection {
    background-color: var(--dc-primary-light);
    z-index: 2;
    position: relative;

    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0rem;

      .btn {
        border: solid 2px;
        border-color: var(--dc-secondary);
        padding: 1rem 0.75rem;
        background-color: var(--dc-primary-light);
        color: var(--dc-primary-extralight);
        font-size: 18px;
      }

      .socials {

        span {
          color: var(--dc-secondary);
          font-weight: 700;
        }

        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}




.col-4 {
  width: calc((100% / 12) * 4);

}

.col-12 {
  width: calc((100% / 12) * 4);


  @media screen and (min-width: 768px) {
    &.col-sm-6 {
      width: calc((100% / 12) * 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  &.col-lg-4 {
    width: calc((100% / 12) * 2);
  }
}